In [1]:
import os
import pickle
import pandas as pd
from tqdm import tqdm

In [2]:
#Load local libraries
# ROOT contais the project directory 
os.chdir(os.path.dirname(os.getcwd()))
print(os.getcwd())

/home/ubuntu/master_thesis

In [3]:
from src.get_info_from_name import get_info_from_name

# DATA by sex

In [4]:
print("Total number of images")
all_im = os.listdir("/mnt/ukbb/raw")
print(len(all_im))

Total number of images
174986

In [5]:
with open("/home/ubuntu/master_thesis/data/pickles/all-females.pkl", "rb") as f:
    females = pickle.load(f)
print("Total number of images for females")
print(len(females))
print(len(females)/len(all_im))

Total number of images for females
93753
0.5357742905146697

In [6]:
with open("/home/ubuntu/master_thesis/data/pickles/all-males.pkl", "rb") as f:
    males = pickle.load(f)
print("Total number of images for males")
print(len(males))
print(len(males)/len(all_im))

Total number of images for males
81233
0.46422570948533026

In [7]:
len(os.listdir("/mnt/ukbb/raw")) == len(females)+len(males)

True

# UKBB metrics

In [8]:
all_df = pd.concat([get_info_from_name(i) for i in tqdm(all_im)], axis=1).T
all_df.head(5)

100%|██████████| 174986/174986 [00:31<00:00, 5638.97it/s]

   patient   side samples replicates
0  5597306   left       0          0
1  2159201   left       0          0
2  1076073  right       0          0
3  5110590   left       0          0
4  5534155  right       1          0

In [9]:
print(f"Left  eye: {len(all_df[all_df.side ==  'left'])}")
print(f"Right eye: {len(all_df[all_df.side ==  'right'])}")

Left  eye: 86830
Right eye: 88156

In [10]:
print(len(all_df[all_df.side == 'left'])/len(all_im))
print(len(all_df[all_df.side == 'right'])/len(all_im))

0.4962111254614655
0.5037888745385345

In [28]:
females_df = pd.concat([get_info_from_name(i) for i in tqdm(females)], axis=1).T
males_df   = pd.concat([get_info_from_name(i) for i in tqdm(males)],   axis=1).T

100%|██████████| 93753/93753 [00:16<00:00, 5712.90it/s]
100%|██████████| 81233/81233 [00:14<00:00, 5678.33it/s]

In [31]:
print(f"Total images:  {len(all_df.patient)}")
print(f"Total patients: {len(set(all_df.patient))}")
print(f"Total patients: {len(set(females_df.patient))}")
print(f"Total patients: {len(set(males_df.patient))}")

Total images:  174986
Total patients: 85623
Total patients: 45948
Total patients: 39675